{
  "extends": ["plugin:flowtype/recommended", "prettier", "prettier/flowtype"],
  "plugins": ["flowtype", "prettier"],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-unused-vars": ["error"],
    "no-trailing-spaces": ["error"],
    "space-infix-ops": ["error"],
    "prefer-const": ["error"],
    "object-shorthand": ["error", "always"],
    "flowtype/newline-after-flow-annotation": ["error", "always"],
    "flowtype/require-valid-file-annotation": [
      "error",
      "always",
      { "annotationStyle": "line" }
    ],
    "prettier/prettier": ["error"]
  }
}
